/*Чтобы изображения никогда не были шире, чем их контейнеры и никогда не превысили своих истинных размеров на больших экранах*/
img {
    /* width: 100%; */
    max-width: 100%;
}

body,
html {
    height: 100%;
    background-color: #fefbf1;
}

/* Создание эффекта параллакса при прокрутке */
.parallax {
    /* height: 100%; */
    /* min-height: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-01 {
    background-image: url('../images/background-image.jpeg');
}

/* Стили для кнопки прокрутки к началу страницы */
div.scrollup {
    position: fixed;
    /* фиксированная позиция */
    color: #fff;
    /* цвет текста */
    background-color: #6d5e42;
    /* цвет заднего фона */
    right: 20px;
    /* расстояние от правого края */
    bottom: 0px;
    /* расстояние от нижнего края */
    padding: 4px 10px;
    /* отступы до содержимого блока */
    font-size: 20px;
    /* размер шрифта (иконки) */
    border-top-left-radius: 4px;
    /* скругление верхнего левого угла */
    border-top-right-radius: 4px;
    /* скругление верхнего правого угла */
    cursor: pointer;
    /* форма курсора */
    display: none;
    /* не отображать элемент */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
    z-index: 1070;
    /*чтобы кнопка была "выше" всех остальных элементов по оси z */
}

div.scrollup:hover {
    background-color: #000;
    /* цвет заднего фона при наведении */
}

.big-button {
    /* Эти два свойства отвечают за наложение кнопки на картинку  */
    position: relative;
    bottom: 7%;

    display: block;
    margin: auto;
    background-color: #314e5d;
    color: white;
    padding: 5% 18%;
    border: 0;

    /* Для анимации при наведении */
    transition: all 500ms ease;

    font-family: 'Libre Franklin', sans-serif;
    font-size: 130%;
}

.big-button:hover {
    background-color: #49758b;
}

/* Убирает "выделение" кнопки при ее нажатии */
.big-button:focus {
    outline: none;
}

.music-album {
    background-color: #fefbf1;
    color: #6d5e42;
}

.album-wrapper {
    background-color: white;
    padding: 2% 5%;
}

.album-artist {
    font-family: 'Lora', serif;
}

.music-panel {
    background-color: transparent;
    position: relative;
    right: 90%;
    /* max-width: 100%; */
}

.music-capture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tracks-wrapper {
    overflow-y: auto;
}

/*Воспроизведение треков */

#main-page-player-wrapper .track {
    cursor: pointer;
}

#main-page-player-wrapper .mini_controls path {
    fill: #6d5e42;
}

#main-page-player-wrapper .track .mini_controls {
    float: left;
    margin-right: 5%;
}

#main-page-player-wrapper .active .play {
    display: none;
}

#main-page-player-wrapper .play {
    display: none;
}

#main-page-player-wrapper .track:hover .play {
    display: block;
}

#main-page-player-wrapper:hover .active .play {
    display: none;
}

#main-page-player-wrapper .pause {
    display: none;
}

#main-page-player-wrapper .active .pause {
    display: block;
}

#main-page-player-wrapper .song-number {
    display: block;
}

#main-page-player-wrapper .active .song-number {
    display: none;
}

#main-page-player-wrapper .track:hover .song-number {
    display: none;
}

/* Конец Воспроизведение треков */

.big-button-02 {
    margin: 0 auto;
    bottom: 3%;
}

/*Для планшетов и смартфонов*/
/* @include media-breakpoint-up()*/
@media only screen and (max-device-width: 991px) {

    /* Выключение параллакса для планшетов и смартфонов */
    .parallax {
        background-attachment: scroll;
        background-position: 0%;
    }

    div.scrollup:hover {
        background-color: #6d5e42;
        /* цвет заднего фона при наведении (нажатии) на телефоне*/
    }

    .big-button:hover {
        background-color: #314e5d;
    }

    .big-button:active {
        background-color: #49758b;
    }

    .music-album-inner {
        display: flex;
        flex-direction: column;
        /* max-height: 100%; */
        background-color: #fefbf1;

    }

    .music-panel {
        top: 50%;
        right: 100%;
    }
}

/* Для ультра маленьких утройств (iPhone 5/5S/SE, например)*/
@media only screen and (max-device-width: 320px) {}